@layer components.variables {
  :where(:host) {
    --vbr-widget-avatar-border-color: light-dark(var(--vbr-primary-color-100), var(--vbr-primary-color-700));
  }
}

@layer components {
  :where(.avatar) {
    --_width: 20px;

    display: inline-flex;
    vertical-align: middle;
    aspect-ratio: 1;
    inline-size: var(--_width);
    justify-content: center;
    overflow: clip;
    position: relative;
    border-radius: 100%;
    border: 1px solid var(--vbr-widget-avatar-border-color);

    img {
      block-size: 100%;
      inline-size: 100%;
      inset: 0;
      object-fit: cover;
      position: absolute;
    }
  }
}
