@layer components.variables {
  :where(:host) {
    --mvw-form-label-font-size: var(--font-size-200);
    --mvw-form-label-color: var(--mvw-text-muted);

    --mvw-input-color: light-dark(var(--mvw-primary-color-800), var(--mvw-primary-color-200));
    --mvw-input-font-size: var(--font-size-400);
    --mvw-input-border-color: light-dark(var(--mvw-primary-color-300), var(--mvw-primary-color-700));
    --mvw-input-bg-color: light-dark(var(--mvw-color-white), var(--mvw-primary-color-950));
    --mvw-input-border-radius: var(--radius-2);
  }
}

@layer components {
  :where(.form-field) {
    --_border-color: var(--mvw-input-border-color);
    --_bg-color: var(--mvw-input-bg-color);
    --_color: var(--mvw-input-color);
    --_field-padding-block: var(--size-4);
    --_field-padding-inline: var(--size-8);

    contain: layout;
    position: relative;
    color: var(--mvw-text-default);

    & pre,
    & input,
    & select {
      min-inline-size: 0;
      font-family: inherit;
      font-size: var(--mvw-input-font-size);
      color: var(--_color);
      /* inline-size: 100%; */
      line-height: var(--font-lineheight-100);
      background-color: var(--_bg-color);
      border: var(--field-border-width, 1px) solid var(--_border-color);
      border-radius: var(--mvw-input-border-radius);
      padding: var(--_field-padding-block) var(--_field-padding-inline);
    }

    & pre {
      line-height: var(--font-lineheight-500);
    }

    label {
      display: block;
      font-size: var(--mvw-form-label-font-size);
      line-height: var(--font-lineheight-700);
      color: var(--mvw-form-label-color);
      text-transform: uppercase;
      font-weight: 700;
    }

    &.full-width {
      :where(& input, & select) {
        inline-size: 100%;
      }
    }
  }
}
