@layer components {
  :where(.icon-button) {
    /* --_text-color: inherit; */
    --_hover-bg-color: color-mix(in oklab, light-dark(var(--mvw-color-black), var(--mvw-color-white)) 10%, transparent);

    align-items: center;
    aspect-ratio: 1;
    background-color: transparent;
    border: 0;
    border-radius: var(--radius-2);
    display: inline-flex;
    inline-size: var(--size-24);
    justify-content: center;
    padding: 0;
    transform-style: preserve-3d;

    /* &:where([disabled]) {
      color: light-dark(rgb(0, 0, 0/0.3), rgb(255, 255, 255/0.26));
      cursor: not-allowed;
      opacity: 0.64;
    } */

    svg {
      max-inline-size: var(--size-16);
      pointer-events: none;
    }

    &:hover {
      background-color: var(--_hover-bg-color);
    }
  }
}
