@layer components {
  :where(.icon-button) {
    /* --_text-color: inherit; */
    --_hover-bg-color: color-mix(in oklab, light-dark(var(--mvw-color-black), var(--mvw-color-white)) 10%, transparent);

    align-items: center;
    aspect-ratio: 1;
    background-color: transparent;
    border: 0;
    border-radius: var(--radius-2);
    display: inline-flex;
    inline-size: var(--size-24);
    justify-content: center;
    padding: 0;

    svg {
      max-inline-size: var(--size-16);
      pointer-events: none;
    }

    &[data-state='open'],
    &:hover {
      background-color: var(--_hover-bg-color);
    }

    &.xs {
      border-radius: var(--radius-1);
    }
  }
}
