@layer components {
  :where(a[href]) {
    --_lighten: oklch(from var(--mvw-link-color) calc(l * 1.15) c h);
    --_darken: oklch(from var(--mvw-link-color) calc(l * 0.85) c h);

    color: var(--mvw-link-color);
    text-decoration: none;

    &:hover {
      color: light-dark(var(--_darken), var(--_lighten));
    }
  }

  :where(a[target='_blank']) {
    position: relative;

    &:hover:after {
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      content: '';
      display: inline-block;
      margin-inline-start: var(--size-2);
      background-color: currentColor;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3C!-- Icon from Lucide by Lucide Contributors - https://github.com/lucide-icons/lucide/blob/main/LICENSE --%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 3h6v6m-11 5L21 3m-3 10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      inline-size: 0.8em;
      block-size: 0.8em;
    }
  }
}
