@layer components {
  :where(.list) {
    /* --_bg-color: transparent; */

    /* background-color: var(--_bg-color); */
    list-style: none;
    padding: var(--size-4);

    @media (pointer: coarse) {
      &,
      * {
        user-select: none;
      }
    }

    /* :where(li, option) {
      gap: var(--size-5);
      min-block-size: var(--size-8);
      padding: var(--size-4) var(--size-8);

      &:has(> a, > button, > label) {
        min-block-size: auto;
        padding: 0;
      }

      & > :where(a, button, label) {
        gap: var(--size-2);
        min-block-size: var(--size-7);
        padding: var(--size-1) var(--size-2);
      }

      .start,
      .end {
        .icon-button,
        svg {
          max-inline-size: var(--size-16);
        }

        .checkbox,
        .radio {
          max-inline-size: var(--size-16);
        }
      }
    } */

    :where(li, option, [role='group'] > label) {
      align-items: center;
      /* background: var(--_bg-color) var(--ripple, none); */
      display: flex;
      /* font-size: var(--font-size-sm); */
      gap: var(--size-4);
      isolation: isolate;
      min-block-size: 40px;
      /* padding: var(--size-4) var(--size-6); */
      position: relative;

      &::before {
        display: none; /* removing checkmark from option */
      }

      * {
        font-size: inherit;
      }

      /* Clickable list item */
      &:has(> a, > button, > label) {
        background: transparent;
        display: block;
        min-block-size: auto;
        padding: 0;
      }

      /* Select option */
      /* &:where(option) {
        align-items: center;
        background-color: var(--_bg-color);
        color: inherit;
        cursor: pointer;
        display: flex;
        gap: var(--size-8);
        inline-size: 100%;
        margin: 0;
        min-block-size: 40px;
        padding: var(--size-4) var(--size-8);
        text-align: start;
        text-decoration: none;
        z-index: 0;

        &:hover {
          background-color: light-dark(var(--gray-2), var(--gray-14));
        }

        &:checked {
          background-color: oklch(from var(--primary) l c h / 30%);
        }
      } */

      & > a,
      & > button,
      & > label {
        align-items: center;
        /* background: var(--_bg-color) var(--ripple, none); */
        color: var(--vbr-widget-list-item-color);
        cursor: pointer;
        display: flex;
        gap: var(--size-8);
        inline-size: 100%;
        margin: 0;
        /* min-block-size: 36px; */
        outline-offset: -3px;
        font-size: var(--vbr-widget-list-item-font-size);
        padding: var(--size-2) var(--size-8);
        text-align: start;
        text-decoration: none;
        border-radius: var(--radius-1);
        z-index: 0;

        &:hover {
          color: var(--vbr-widget-list-item-hover-color);
          background-color: var(--vbr-widget-list-item-hover-bg-color);
        }

        /* Text */
        .text {
          flex: 1;
          line-height: 1.6;

          :where(h1, h2, h3, h4, h5, h6, p, span) {
            color: inherit;
            font-weight: 400;
          }

          p + p {
            font-size: var(--font-size-100);
          }
        }

        /* Leading content */
        .start {
          align-self: center;
          align-items: center;
          display: grid;
          z-index: 1;

          /* &:has(svg) {
            max-inline-size: calc(var(--vbr-widget-list-item-font-size) - 10px);
          } */

          svg {
            /* padding-block-start: 0.125rem; */
            inline-size: var(--vbr-widget-list-item-font-size);
          }

          /* img {
            aspect-ratio: 1;
            inline-size: 56px;
            object-fit: cover;
          } */

          /* video {
            aspect-ratio: 16/9;
            block-size: 64px;
            object-fit: cover;
          } */
        }
      }
    }
  }
}
