@layer components {
  :where(.marquee) {
    --_width: 0px;
    --_speed: 8s;
    --_direction: forwards;

    overflow: clip;
    mask-image: linear-gradient(
      to right,
      transparent,
      black var(--size-16),
      black calc(100% - var(--size-16)),
      transparent
    );

    .marquee-track {
      display: flex;
      gap: var(--size-16);
      padding-left: var(--size-16);
      width: max-content;
      line-height: initial;

      --px-width: tan(atan2(var(--_width), 1px));
      --duration: calc(var(--px-width) / 1000 * var(--_speed));
    }

    &[data-overflow='true']:hover .marquee-track {
      animation: marquee-move var(--duration) linear infinite var(--_direction);
    }

    &[data-overflow='false'] {
      .marquee-track {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  @keyframes marquee-move {
    to {
      transform: translateX(-50%);
    }
  }
}
