@layer components {
  :where(.table-responsive) {
    container-name: table-wrapper;
    container-type: inline-size;

    width: 100%;
    overflow-x: auto;

    :where(table) {
      width: 100%;
    }
  }
}
