@layer components.variables {
  :where(:host) {
    /* Table */
    --vbr-widget-table-header-font-size: var(--font-size-200);
    --vbr-widget-table-default-column-width: 40px;
    --vbr-widget-table-default-bg-color: light-dark(var(--vbr-color-white), var(--vbr-primary-color-900));
    --vbr-widget-table-color: light-dark(var(--vbr-primary-color-800), var(--vbr-primary-color-200));
    --vbr-widget-table-neutral-color: light-dark(var(--vbr-primary-color-300), var(--vbr-primary-color-700));
    --vbr-widget-table-header-bg-color: light-dark(var(--vbr-primary-color-800), var(--vbr-primary-color-200));
    --vbr-widget-table-header-color: light-dark(var(--vbr-primary-color-200), var(--vbr-primary-color-800));
    --vbr-widget-table-header-hover-bg-color: light-dark(var(--vbr-primary-color-700), var(--vbr-primary-color-300));
    --vbr-widget-table-header-active-bg-color: light-dark(var(--vbr-primary-color-700), var(--vbr-primary-color-300));
    --vbr-widget-table-header-active-color: light-dark(var(--vbr-color-white), var(--vbr-primary-color-900));
    --vbr-widget-table-hover-color: light-dark(var(--vbr-primary-color-900), var(--vbr-color-white));
    --vbr-widget-table-hover-bg-color: light-dark(var(--vbr-secondary-color-100), var(--vbr-primary-color-950));
    --vbr-widget-table-active-color: light-dark(var(--vbr-secondary-color-900), var(--vbr-secondary-color-100));
    --vbr-widget-table-active-bg-color: light-dark(var(--vbr-secondary-color-200), var(--vbr-secondary-color-800));
    --vbr-widget-table-active-even-bg-color: light-dark(var(--vbr-secondary-color-300), var(--vbr-secondary-color-700));
    --vbr-widget-table-active-hover-color: light-dark(var(--vbr-secondary-color-900), var(--vbr-secondary-color-100));
    --vbr-widget-table-active-hover-bg-color: light-dark(
      var(--vbr-secondary-color-400),
      var(--vbr-secondary-color-500)
    );
    --vbr-widget-table-portrait-border-color: light-dark(var(--vbr-primary-color-100), var(--vbr-primary-color-900));
    --vbr-widget-table-portrait-bg-color: light-dark(var(--vbr-primary-color-50), var(--vbr-primary-color-900));
    --vbr-widget-table-stripped-bg-color: light-dark(
      hsl(from var(--vbr-primary-color-50) h s calc(l + 3)),
      hsl(from var(--vbr-primary-color-900) h s calc(l + 2))
    );
    --vbr-widget-table-label-color: light-dark(var(--vbr-primary-color-500), var(--vbr-primary-color-400));
    --vbr-widget-table-label-bg-color: light-dark(var(--vbr-primary-color-50), var(--vbr-primary-color-900));
    --vbr-widget-table-cell-logo-size: 20px;
    --vbr-widget-table-cell-portrait-size: 26px;
    --vbr-widget-table-caption-color: light-dark(var(--vbr-primary-color-400), var(--vbr-primary-color-600));
    --vbr-widget-table-caption-font-size: var(--font-size-200);
  }
}

@layer components {
  :where(table) {
    border-collapse: collapse;
    max-inline-size: 100%;
    position: relative;
    color: var(--vbr-widget-table-color);
    background-color: var(--vbr-widget-table-default-bg-color);

    /* Rows */
    tr {
      background-color: var(--surface-default);
      border-top: 1px solid var(--border-color);

      &:hover {
        background-color: oklch(from var(--surface-filled) l c h / 75%);
      }

      &:nth-child(even) {
        background: var(--vbr-widget-table-stripped-bg-color);

        td.is-active {
          background-color: var(--vbr-widget-table-active-even-bg-color);
        }
      }
    }

    /* Cells */
    :is(th, td) {
      padding: var(--size-8);
      white-space: nowrap;
      text-align: center;
    }

    th {
      background: var(--vbr-widget-table-header-bg-color);
      color: var(--vbr-widget-table-header-color);
      font-size: var(--vbr-widget-table-header-font-size);
      font-weight: 700;
      text-align: center;
      width: var(--vbr-widget-table-default-column-width);

      &:focus-visible,
      &:hover {
        background-color: var(--vbr-widget-table-header-hover-bg-color);
        outline: none;
      }

      &.is-sortable {
        position: relative;
        cursor: pointer;

        .is-icon-sort {
          opacity: 0.5;
        }
      }

      &.is-active {
        background-color: var(--vbr-widget-table-header-active-bg-color);
        color: var(--vbr-widget-table-header-active-color);

        .is-icon-sort {
          opacity: 1;
        }
      }

      &.is-has-image,
      &.has-avatar {
        width: 0;
      }

      .is-icon-sort {
        width: var(--size-12);
        height: var(--size-12);
        margin-inline-start: var(--size-4);
      }
    }

    td {
      &.is-active {
        font-weight: 700;
        color: var(--vbr-widget-table-active-color);
        background: var(--vbr-widget-table-active-bg-color);
      }

      &.has-avatar {
        .avatar {
          --_width: var(--vbr-widget-table-cell-portrait-size);
        }
      }

      &[data-value='0'],
      &.is-zero {
        color: var(--vbr-widget-text-faded);
      }

      /* &:has(.is-logo-image) {
        padding-inline-end: 0;
      } */

      .is-logo-image {
        display: inline-block;
        vertical-align: middle;
        width: var(--vbr-widget-table-cell-logo-size);
        height: var(--vbr-widget-table-cell-logo-size);
      }

      .is-duplicated {
        color: var(--vbr-widget-table-neutral-color);
      }

      .badge {
        --_bg-color: var(--vbr-widget-table-label-bg-color);
        --_color: var(--vbr-widget-table-label-color);
      }

      .icon-button {
        --_hover-bg-color: var(--vbr-widget-popover-trigger-hover-bg-color);
      }

      .is-team-name-long {
        display: block;
      }

      .is-team-name-short {
        display: none;
      }

      @container table-wrapper (max-width: 768px) {
        .is-team-name-long {
          display: none;
        }
        .is-team-name-short {
          display: block;
        }
      }
    }

    /* Caption */
    caption {
      caption-side: bottom;
      color: var(--vbr-widget-table-caption-color);
      font-size: var(--vbr-widget-table-caption-font-size, 0.75rem);
      padding: var(--size-12) 0;
      text-align: start;
    }

    /* Body */
    tbody {
      tr:focus-within,
      tr:hover {
        color: var(--vbr-widget-table-hover-color);
        background-color: var(--vbr-widget-table-hover-bg-color);

        td.is-active {
          color: var(--vbr-widget-table-active-hover-color);
          background-color: var(--vbr-widget-table-active-hover-bg-color);
        }
      }
    }
  }
}
