// html/body Jégkorongos oldalak hibás beállítása

html {
  background-color: transparent;
}

html.icehockey {
  font-size: 10px;

  body {
    font-size: 15px;
  }

  * {
    font-family: 'Roboto Condensed', Avenir, Helvetica, Arial, sans-serif;

    --font-size-50: 10px;
    --font-size-100: 11px;
    --font-size-200: 12px;
    --font-size-300: 13px;
    --font-size-400: 14px;
    --font-size-500: 16px;
    --font-size-600: 18px;
    --font-size-700: 20px;
    --font-size-800: 24px;
    --font-size-900: 28px;
    --font-size-950: 32px;

    --size-2: 2px;
    --size-4: 4px;
    --size-6: 6px;
    --size-8: 8px;
    --size-10: 10px;
    --size-12: 12px;
    --size-16: 16px;
    --size-24: 24px;

    --mvw-countdown-title-height: 32px;

    /* --mvw-gamecenter-result-size: 110px;
    --mvw-gamecenter-title-size: 16px; */
  }
}

body.liga {
  * {
    --mvw-primary-color-50: #f9fafb;
    --mvw-primary-color-100: #f3f4f6;
    --mvw-primary-color-200: #e5e7eb;
    --mvw-primary-color-300: #d1d5db;
    --mvw-primary-color-400: #9ca3af;
    --mvw-primary-color-500: #6b7280;
    --mvw-primary-color-600: #4b5563;
    --mvw-primary-color-700: #374151;
    --mvw-primary-color-800: #1f2937;
    --mvw-primary-color-900: #111827;

    --mvw-secondary-color-50: #e3f2fd;
    --mvw-secondary-color-100: #bbdefb;
    --mvw-secondary-color-200: #90caf9;
    --mvw-secondary-color-300: #64b5f6;
    --mvw-secondary-color-400: #42a5f5;
    --mvw-secondary-color-500: #2196f3;
    --mvw-secondary-color-600: #1e88e5;
    --mvw-secondary-color-700: #1976d2;
    --mvw-secondary-color-800: #1565c0;
    --mvw-secondary-color-900: #0d47a1;

    /* --mvw-text-faded: light-dark(var(--mvw-primary-color-200), var(--mvw-primary-color-600));
    --mvw-text-dimmed: light-dark(var(--mvw-primary-color-400), var(--mvw-primary-color-500));
    --mvw-text-muted: light-dark(var(--mvw-primary-color-500), var(--mvw-primary-color-400));
    --mvw-text-toned: light-dark(var(--mvw-primary-color-600), var(--mvw-primary-color-300));
    --mvw-text-default: light-dark(var(--mvw-primary-color-700), var(--mvw-primary-color-200));
    --mvw-text-highlighted: light-dark(var(--mvw-primary-color-900), var(--mvw-primary-color-50)); */

    --mvw-bg-inverted: light-dark(var(--mvw-secondary-color-900), var(--mvw-secondary-color-100));

    mjsz-vbr-top-list-liga {
      --mvw-top-list-bg-color: var(--mvw-secondary-color-500);
      --mvw-top-list-title-separator-color: var(--mvw-secondary-color-300);
      --mvw-top-list-player-separator-color: var(--mvw-secondary-color-400);
      --mvw-top-list-image-border-color: var(--mvw-secondary-color-300);
      --mvw-top-list-image-bg-color: var(--mvw-secondary-color-400);
      --mvw-top-list-selector-border-color: var(--mvw-secondary-color-300);
      --mvw-top-list-value-color: var(--mvw-secondary-color-100);

      --mvw-tab-btn-color: var(--mvw-secondary-color-200) !important;
      --mvw-tab-btn-bg-color: transparent;
      --mvw-tab-btn-hover-color: var(--mvw-secondary-color-50);
      --mvw-tab-btn-hover-bg-color: transparent;
      --mvw-tab-btn-active-color: var(--mvw-secondary-color-50);
      --mvw-tab-btn-active-bg-color: transparent;
      --mvw-tab-btn-active-border-color: var(--mvw-primary-color-0) !important;

      --mvw-link-color: var(--mvw-secondary-color-100);
      --mvw-hover-color: var(--mvw-primary-color-0);

      --mvw-loading-indicator-text-color: var(--mvw-secondary-color-100);

      --mvw-avatar-border-color: var(--mvw-secondary-color-100);
      --mvw-tab-btn-group-separator-color: var(--mvw-secondary-color-300);
    }

    /* Old */

    --mvw-primary-color-0: #ffffff;
    --mvw-primary-color-50: #f9fafb;
    --mvw-primary-color-100: #f3f4f6;
    --mvw-primary-color-200: #e5e7eb;
    --mvw-primary-color-300: #d1d5db;
    --mvw-primary-color-400: #9ca3af;
    --mvw-primary-color-500: #6b7280;
    --mvw-primary-color-600: #4b5563;
    --mvw-primary-color-700: #374151;
    --mvw-primary-color-800: #1f2937;
    --mvw-primary-color-900: #111827;

    --mvw-secondary-color-50: #e3f2fd;
    --mvw-secondary-color-100: #bbdefb;
    --mvw-secondary-color-200: #90caf9;
    --mvw-secondary-color-300: #64b5f6;
    --mvw-secondary-color-400: #42a5f5;
    --mvw-secondary-color-500: #2196f3;
    --mvw-secondary-color-600: #1e88e5;
    --mvw-secondary-color-700: #1976d2;
    --mvw-secondary-color-800: #1565c0;
    --mvw-secondary-color-900: #0d47a1;

    /* --mvw-tab-btn-color: var(--mvw-primary-color-400); */
    /* --mvw-tab-btn-active-border-color: var(--mvw-secondary-color-500); */

    /* --mvw-table-header-bg-color: var(--mvw-secondary-color-500);
    --mvw-table-header-hover-bg-color: var(--mvw-secondary-color-600);
    --mvw-table-header-color: var(--mvw-secondary-color-100);
    --mvw-table-header-active-bg-color: var(--mvw-secondary-color-800);
    --mvw-text-faded: var(--mvw-primary-color-400);
    --mvw-table-stripped-bg-color: #f6f6f6; */

    /* --mvw-gamecenter-card-border-color: var(--mvw-primary-color-300);
    --mvw-gamecenter-card-event-goal-border-color: var(--mvw-primary-color-700);
    --mvw-gamecenter-card-event-goal-bg-color: var(--mvw-primary-color-700);
    --mvw-gamecenter-card-tertiary-color: var(--mvw-primary-color-400);

    --mvw-paginator-border-color: var(--mvw-primary-color-300);
    --mvw-paginator-disabled-color: var(--mvw-primary-color-300);
    --mvw-paginator-active-bg-color: var(--mvw-secondary-color-500);

    --mvw-toggle-group-btn-bg-color: var(--mvw-primary-color-200);
    --mvw-toggle-group-btn-active-bg-color: var(--mvw-secondary-color-500);

    --mvw-playoffs-header-bg: var(--mvw-secondary-color-500);
    --mvw-playoffs-header-color: var(--mvw-primary-color-50);
    --mvw-playoffs-details-bg: var(--mvw-secondary-color-50);

    --mvw-countdown-title-bg: var(--mvw-primary-color-900);
    --mvw-countdown-gamedata-bg: var(--mvw-primary-color-700);
    --mvw-countdown-result-bg: var(--mvw-primary-color-800); */
  }
}
/*
mjsz-vbr-team-liga,
mjsz-vbr-player-liga {
  --mvw-typography-heading-1-size: 35px;
  --mvw-typography-heading-2-size: 28px;
  --mvw-main-image-wrapper-horizontal-margin: -15px;
} */

/* mjsz-vbr-schedule-liga {
  --mvw-sticky-top-offset: 50px;

  @media all and (min-width: 768px) {
    --mvw-sticky-top-offset: 0;
  }
} */

/* mjsz-vbr-standings-selector {
  --mvw-standings-selector-title-size: 16px;
  --mvw-standings-selector-title-color: var(--mvw-primary-color-700);
  --mvw-standings-selector-title-bg-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 96%,
    rgba(0, 0, 0, 0.2) 96%,
    rgba(0, 0, 0, 0.2) 100%
  );

  --mvw-table-default-bg-color: transparent;
  --mvw-table-header-bg-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 96%,
    rgba(0, 0, 0, 0.2) 96%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --mvw-table-header-font-size: 11px;
  --mvw-table-header-hover-bg-color: transparent;
  --mvw-table-cell-light-color: var(--mvw-primary-color-400);
  --mvw-table-stripped-bg-color: transparent;
} */

/* mjsz-vbr-countdown {
  --mvw-countdown-title-height: 32px;
  --mvw-countdown-gamedata-height: 64px;
} */
