@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
}

mjsz-vbr-schedule {
  font-family: 'Roboto Slab', serif;
}

mjsz-vbr-calendar {
  font-family: 'Roboto', sans-serif;
}

mjsz-vbr-schedule-liga {
  font-family: 'Roboto Slab', serif;

  --vbr-widget-sticky-top-offset: 50px;

  @media all and (min-width: 768px) {
    --vbr-widget-sticky-top-offset: 0;
  }
}
