@layer normalize {
  *,
  ::before,
  ::after {
    /* Set box sizing instead of inheriting */
    /* https://www.oddbird.net/2025/09/04/box-model/ */
    box-sizing: border-box;
  }

  * {
    scrollbar-width: thin;
  }

  :where(input, button, textarea),
  :where(input[type='file'])::-webkit-file-upload-button {
    color: inherit;
    font-size: inherit;
    font: inherit;
    letter-spacing: inherit;
  }

  :where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: inline-block;
  }
}
