@layer utils {
  /* Font */
  .font-bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  /* Text */
  .text-start {
    text-align: start;
  }

  .text-end {
    text-align: end;
  }

  .text-center {
    text-align: center;
  }

  .text-sm {
    font-size: var(--font-size-400);
  }

  .text-xl {
    font-size: var(--font-size-700);
  }

  .text-faded {
    color: var(--vbr-widget-text-faded);
  }

  .text-dimmed {
    color: var(--vbr-widget-text-dimmed);
  }

  .text-muted {
    color: var(--vbr-widget-text-muted);
  }

  .text-toned {
    color: var(--vbr-widget-text-toned);
  }

  .text-highlighted {
    color: var(--vbr-widget-text-highlighted);
  }

  /* Size */
  .w-auto {
    width: auto;
  }

  .mb-md {
    margin-block-end: var(--size-16);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
    gap: var(--size-16);
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-16);
  }

  .responsive-team-name {
    container-type: inline-size;
    container-name: team-name;

    > * {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .team-name-short {
        display: none;
      }

      @container team-name (max-width: 200px) {
        .team-name-long {
          display: none;
        }
        .team-name-short {
          display: block;
        }
      }
    }
  }
}
