@layer utils {
  .is-text-left {
    text-align: start;
  }

  .is-text-right {
    text-align: end;
  }

  .is-text-center {
    text-align: center;
  }

  .is-text-bold {
    font-weight: 700;
  }

  .is-text-italic {
    font-style: italic;
  }

  .is-w-auto {
    width: auto;
  }

  .is-text-xl {
    font-size: var(--font-size-700);
  }

  .text-faded {
    color: var(--vbr-widget-text-faded);
  }

  .text-dimmed {
    color: var(--vbr-widget-text-dimmed);
  }

  .text-muted {
    color: var(--vbr-widget-text-muted);
  }

  .text-toned {
    color: var(--vbr-widget-text-toned);
  }

  .text-highlighted {
    color: var(--vbr-widget-text-highlighted);
  }

  .mb-md {
    margin-block-end: var(--size-16);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
    gap: var(--size-16);
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-16);
  }

  .responsive-team-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .team-name-short {
      display: none;
    }

    @container table-wrapper (max-width: 360px) {
      .team-name-long {
        display: none;
      }
      .team-name-short {
        display: block;
      }
    }
  }
}
