@layer utils {
  .is-text-left {
    text-align: start;
  }

  .is-text-right {
    text-align: end;
  }

  .is-text-center {
    text-align: center;
  }

  .is-text-bold {
    font-weight: 700;
  }

  .is-text-italic {
    font-style: italic;
  }

  .is-w-auto {
    width: auto;
  }

  .is-text-xl {
    font-size: var(--font-size-700);
  }

  .is-text-dark {
    color: var(--vbr-widget-text-dark-color);
  }

  .text-muted {
    color: var(--vbr-widget-text-color-muted);
  }

  .mb-md {
    margin-block-end: var(--size-16);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    align-items: center;
  }
}
