@layer utils {
  .is-text-left {
    text-align: start;
  }

  .is-text-right {
    text-align: end;
  }

  .is-text-bold {
    font-weight: 700;
  }

  .is-text-italic {
    font-style: italic;
  }

  .is-w-auto {
    width: auto;
  }

  .is-text-xl {
    font-size: var(--font-size-700);
  }

  .is-text-dark {
    color: var(--vbr-widget-text-dark-color);
  }
}
