@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

mjsz-vbr-schedule-liga {
  --mvw-sticky-top-offset: 50px;

  @media all and (min-width: 960px) {
    --mvw-sticky-top-offset: 112px;
  }

  @media all and (min-width: 1280px) {
    --mvw-sticky-top-offset: 63px;
  }
}

/* mjsz-vbr-game-timeline {
  font-family: 'Roboto Condensed', Avenir, Helvetica, Arial, sans-serif;

  --mvw-primary-color-0: #ffffff;
  --mvw-primary-color-50: #f9fafb;
  --mvw-primary-color-100: #f3f4f6;
  --mvw-primary-color-200: #e5e7eb;
  --mvw-primary-color-300: #d1d5db;
  --mvw-primary-color-400: #9ca3af;
  --mvw-primary-color-500: #6b7280;
  --mvw-primary-color-600: #4b5563;
  --mvw-primary-color-700: #374151;
  --mvw-primary-color-800: #1f2937;
  --mvw-primary-color-900: #111827;

  --mvw-secondary-color-100: #dbeafe;
  --mvw-secondary-color-200: #bfdbfe;
  --mvw-secondary-color-300: #93c5fd;
  --mvw-secondary-color-400: #818cf8;
  --mvw-secondary-color-500: #3b82f6;
  --mvw-secondary-color-600: #2563eb;
  --mvw-secondary-color-700: #1d4ed8;
  --mvw-secondary-color-800: #1e40af;
  --mvw-secondary-color-900: #1e3a8a;

  --mvw-tab-btn-color: var(--mvw-primary-color-400);
  --mvw-tab-btn-active-border-color: var(--mvw-secondary-color-500);

  --mvw-table-header-bg-color: var(--mvw-secondary-color-500);
  --mvw-table-header-hover-bg-color: var(--mvw-secondary-color-600);
  --mvw-table-header-color: var(--mvw-secondary-color-200);
  --mvw-text-faded: var(--mvw-primary-color-400);
  --mvw-table-stripped-bg-color: #f6f6f6;

  --mvw-gamecenter-card-border-color: var(--mvw-primary-color-300);
  --mvw-gamecenter-card-event-goal-border-color: var(--mvw-primary-color-700);
  --mvw-gamecenter-card-event-goal-bg-color: var(--mvw-primary-color-700);
  --mvw-gamecenter-card-tertiary-color: var(--mvw-primary-color-400);
} */
