@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

mjsz-vbr-schedule-liga {
  --vbr-widget-sticky-top-offset: 50px;

  @media all and (min-width: 960px) {
    --vbr-widget-sticky-top-offset: 112px;
  }

  @media all and (min-width: 1280px) {
    --vbr-widget-sticky-top-offset: 63px;
  }
}

mjsz-vbr-game-timeline {
  font-family: 'Roboto Condensed', Avenir, Helvetica, Arial, sans-serif;
}
