@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import '../../../packages/shared/assets/css/core.css';

* {
  --mvw-font: 'Roboto Condensed', Avenir, Helvetica, Arial, sans-serif;
}

mjsz-vbr-schedule-liga {
  --mvw-sticky-top-offset: 50px;

  @media all and (min-width: 960px) {
    --mvw-sticky-top-offset: 112px;
  }

  @media all and (min-width: 1280px) {
    --mvw-sticky-top-offset: 63px;
  }
}

/* mjsz-vbr-game-timeline {
  font-family: 'Roboto Condensed', Avenir, Helvetica, Arial, sans-serif;

  --mvw-color-primary-0: #ffffff;
  --mvw-color-primary-50: #f9fafb;
  --mvw-color-primary-100: #f3f4f6;
  --mvw-color-primary-200: #e5e7eb;
  --mvw-color-primary-300: #d1d5db;
  --mvw-color-primary-400: #9ca3af;
  --mvw-color-primary-500: #6b7280;
  --mvw-color-primary-600: #4b5563;
  --mvw-color-primary-700: #374151;
  --mvw-color-primary-800: #1f2937;
  --mvw-color-primary-900: #111827;

  --mvw-color-secondary-100: #dbeafe;
  --mvw-color-secondary-200: #bfdbfe;
  --mvw-color-secondary-300: #93c5fd;
  --mvw-color-secondary-400: #818cf8;
  --mvw-color-secondary-500: #3b82f6;
  --mvw-color-secondary-600: #2563eb;
  --mvw-color-secondary-700: #1d4ed8;
  --mvw-color-secondary-800: #1e40af;
  --mvw-color-secondary-900: #1e3a8a;

  --mvw-tab-btn-color: var(--mvw-color-primary-400);
  --mvw-tab-btn-active-border-color: var(--mvw-color-secondary-500);

  --mvw-table-header-bg-color: var(--mvw-color-secondary-500);
  --mvw-table-header-hover-bg-color: var(--mvw-color-secondary-600);
  --mvw-table-header-color: var(--mvw-color-secondary-200);
  --mvw-text-faded: var(--mvw-color-primary-400);
  --mvw-table-stripped-bg-color: #f6f6f6;

  --mvw-gamecenter-card-border-color: var(--mvw-color-primary-300);
  --mvw-gamecenter-card-event-goal-border-color: var(--mvw-color-primary-700);
  --mvw-gamecenter-card-event-goal-bg-color: var(--mvw-color-primary-700);
  --mvw-gamecenter-card-tertiary-color: var(--mvw-color-primary-400);
} */
