:where(:host, :root) {
  --mvw-color-white: #fff;
  --mvw-color-black: #000;

  --mvw-color-primary-0: #ffffff;
  --mvw-color-primary-50: #eceff1;
  --mvw-color-primary-100: #cfd8dc;
  --mvw-color-primary-200: #b0bec5;
  --mvw-color-primary-300: #90a4ae;
  --mvw-color-primary-400: #78909c;
  --mvw-color-primary-500: #607d8b;
  --mvw-color-primary-600: #546e7a;
  --mvw-color-primary-700: #455a64;
  --mvw-color-primary-800: #37474f;
  --mvw-color-primary-900: #263238;
  --mvw-color-primary-950: #182024;
}
