:where(:host) {
  --size-000: -0.5rem;
  --size-00: -0.25rem;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 3px;
  --size-4: 4px;
  --size-5: 5px;
  --size-6: 6px;
  --size-7: 7px;
  --size-8: 8px;
  --size-9: 9px;
  --size-10: 10px;
  --size-11: 11px;
  --size-12: 12px;
  --size-13: 13px;
  --size-16: 16px;
  --size-20: 20px;
  --size-33: 33px;
}
