:where(:root) {
  --font-size-00: 0.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --vbr-widget-typography-font-size-50: 0.625rem; /* 10px */
  --vbr-widget-typography-font-size-100: 0.6875rem; /* 11px */
  --vbr-widget-typography-font-size-200: 0.75rem; /* 12px */
  --vbr-widget-typography-font-size-300: 0.8125rem; /* 13px */
  --vbr-widget-typography-font-size-400: 0.875rem; /* 14px */
  --vbr-widget-typography-font-size-500: 1rem; /* 16px */
  --vbr-widget-typography-font-size-600: 1.125rem; /* 18px */
  --vbr-widget-typography-font-size-700: 1.25rem; /* 20px */
  --vbr-widget-typography-font-size-800: 1.5rem; /* 24px */
  --vbr-widget-typography-font-size-900: 1.75rem; /* 28px */
  --vbr-widget-typography-font-size-950: 2rem; /* 32px */
}
