:where(:host) {
  /* --size-000: -0.5rem;
  --size-00: -0.25rem; */
  /* --size-1: 1px; */
  --size-2: 0.125rem;
  /* --size-3: 3px; */
  --size-4: 0.25rem;
  /* --size-5: 5px; */
  --size-6: 0.375rem;
  /* --size-7: 7px; */
  --size-8: 0.5rem;
  /* --size-9: 9px; */
  --size-10: 0.625rem;
  /* --size-11: 11px; */
  --size-12: 0.75rem;
  /* --size-13: 13px; */
  --size-16: 1rem;
  /* --size-20: 20px; */
  --size-24: 1.5rem;
  /* --size-33: 33px; */
}
