@layer theme {
  :host-context(.light) {
    color-scheme: only light;
  }

  :host-context(.dark) {
    color-scheme: only dark;
  }

  :host {
    --vbr-widget-typography-heading-weight: 500;

    /* Table */
    --vbr-widget-table-header-font-size: var(--vbr-widget-typography-font-size-200);
    --vbr-widget-table-default-column-width: 30px;
    --vbr-widget-table-default-bg-color: light-dark(var(--vbr-primary-color-0), var(--vbr-primary-color-900));
    --vbr-widget-table-color: light-dark(var(--vbr-primary-color-800), var(--vbr-primary-color-200));
    --vbr-widget-table-neutral-color: light-dark(var(--vbr-primary-color-300), var(--vbr-primary-color-700));
    --vbr-widget-table-header-bg-color: light-dark(var(--vbr-primary-color-800), var(--vbr-primary-color-200));
    --vbr-widget-table-header-color: light-dark(var(--vbr-primary-color-200), var(--vbr-primary-color-800));
    --vbr-widget-table-header-hover-bg-color: light-dark(var(--vbr-primary-color-700), var(--vbr-primary-color-300));
    --vbr-widget-table-header-active-bg-color: light-dark(var(--vbr-primary-color-700), var(--vbr-primary-color-300));
    --vbr-widget-table-header-active-color: light-dark(var(--vbr-primary-color-0), var(--vbr-primary-color-900));
    --vbr-widget-table-hover-color: light-dark(var(--vbr-primary-color-900), var(--vbr-primary-color-0));
    --vbr-widget-table-hover-bg-color: light-dark(var(--vbr-secondary-color-100), var(--vbr-primary-color-950));
    --vbr-widget-table-active-color: light-dark(var(--vbr-secondary-color-900), var(--vbr-secondary-color-100));
    --vbr-widget-table-active-bg-color: light-dark(var(--vbr-secondary-color-200), var(--vbr-secondary-color-800));
    --vbr-widget-table-active-even-bg-color: light-dark(var(--vbr-secondary-color-300), var(--vbr-secondary-color-700));
    --vbr-widget-table-active-hover-color: light-dark(var(--vbr-secondary-color-900), var(--vbr-secondary-color-100));
    --vbr-widget-table-active-hover-bg-color: light-dark(
      var(--vbr-secondary-color-400),
      var(--vbr-secondary-color-500)
    );
    --vbr-widget-table-portrait-border-color: light-dark(var(--vbr-primary-color-100), var(--vbr-primary-color-900));
    --vbr-widget-table-portrait-bg-color: light-dark(var(--vbr-primary-color-50), var(--vbr-primary-color-900));
    --vbr-widget-table-cell-light-color: light-dark(var(--vbr-primary-color-400), var(--vbr-primary-color-500));
    --vbr-widget-table-cell-dark-color: light-dark(var(--vbr-primary-color-900), var(--vbr-primary-color-100));
    /* --vbr-widget-table-stripped-bg-color: #f8f9fa; */
    --vbr-widget-table-stripped-bg-color: light-dark(
      hsl(from var(--vbr-primary-color-50) h s calc(l + 3)),
      hsl(from var(--vbr-primary-color-900) h s calc(l + 2))
    );
    --vbr-widget-table-label-color: light-dark(var(--vbr-primary-color-500), var(--vbr-primary-color-400));
    --vbr-widget-table-label-bg-color: light-dark(var(--vbr-primary-color-50), var(--vbr-primary-color-900));
    --vbr-widget-table-cell-logo-size: 20px;
    --vbr-widget-table-cell-portrait-size: 26px;
    --vbr-widget-table-zero-color: light-dark(var(--vbr-primary-color-200), var(--vbr-primary-color-800));

    /* Tooltip */
    --vbr-widget-tooltip-font-size: var(--vbr-font-size-200);
    --vbr-widget-tooltip-color: light-dark(white, black);
    --vbr-widget-tooltip-bg-color: light-dark(black, white);
  }
}
