:where(:host) {
  /* Text */
  --vbr-widget-text-color-faded: light-dark(var(--vbr-primary-color-200), var(--vbr-primary-color-600));
  --vbr-widget-text-color-dimmed: light-dark(var(--vbr-primary-color-400), var(--vbr-primary-color-500));
  --vbr-widget-text-color-muted: light-dark(var(--vbr-primary-color-500), var(--vbr-primary-color-400));
  --vbr-widget-text-color-toned: light-dark(var(--vbr-primary-color-600), var(--vbr-primary-color-300));
  --vbr-widget-text-color-default: light-dark(var(--vbr-primary-color-700), var(--vbr-primary-color-200));
  --vbr-widget-text-color-highlighted: light-dark(var(--vbr-primary-color-900), var(--vbr-primary-color-50));

  /* Background */
  --vbr-widget-bg-highlighted: var(--vbr-secondary-color-500);

  /* Border */
  --vbr-widget-border-muted: light-dark(var(--vbr-primary-color-100), var(--vbr-primary-color-800));
  --vbr-widget-border-highlighted: var(--vbr-secondary-color-500);
}
