@mixin ResetTable {
  border-collapse: collapse;
  border-spacing: 0;

  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

@mixin mobile {
  @media all and (min-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: 992px) {
    @content;
  }
}

@mixin small-desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}

/* --vbr-widget-typography-font-size-50
--vbr-widget-typography-font-lineheight-50 */
@mixin calcLineHeight($variant) {
  --vbr-widget-typography-font-lineheight-#{$variant}: calc(var(--vbr-widget-typography-font-size-$(variant)) * 1.628);
}
