.is-card {
  container-name: card-row;
  container-type: inline-size;

  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.is-card > div {
  border-bottom: 1px solid var(--mvw-color-primary-100);

  &:last-of-type {
    border: none;
  }
}

.sticky {
  position: sticky;
  top: var(--mvw-sticky-top-offset);
  z-index: 10;
}

.blured-bg {
  backdrop-filter: blur(10px);
}

.card-item {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 2rem 0;
  border-bottom: 1px solid var(--mvw-color-primary-100);

  &.is-optional {
    opacity: 0.4;
    transition: opacity 0.3s ease-out;
  }
  &.is-optional:hover {
    opacity: 1;
  }

  svg {
    display: block;
  }

  .is-team-name-short {
    display: none;
  }

  @container card-row (max-width: 640px) {
    .is-team-name-long {
      display: none;
    }
    .is-team-name-short {
      display: block;
    }
  }

  .is-info {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mvw-color-primary-500);
  }

  .is-home-team {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
  }

  .is-away-team {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
  }

  .is-logo-image {
    width: 40px;
  }

  .is-game-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--mvw-color-primary-900);

      &:hover {
        color: var(--mvw-color-primary-600);
      }
    }

    &.is-live {
      color: var(--mvw-color-live-game-color);
      a {
        color: var(--mvw-color-live-game-color);
      }
    }
  }
}

.section-selector {
  margin: 20px 0;
  border-bottom: 1px solid var(--mvw-color-primary-200);
}

.main-image-wrapper {
  --overlay-size: 160px;
  --overlay-radius: 50%;

  display: grid;
  grid-template-columns: 1fr var(--overlay-size) 1fr;
  grid-template-rows: 1fr 1fr 1fr calc(var(--overlay-size) / 2) calc(var(--overlay-size) / 2);
  margin-left: var(--mvw-main-image-wrapper-horizontal-margin);
  margin-right: var(--mvw-main-image-wrapper-horizontal-margin);

  &:has(img.is-default) {
    min-height: 470px;
  }

  .is-main-image {
    grid-column: 1/4;
    grid-row: 1/5;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--mvw-color-primary-50);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .is-default {
      filter: grayscale(1);
      opacity: 0.3;
      mix-blend-mode: multiply;
    }

    img:not(.is-default) {
      width: 100%;
    }
  }
  .is-ovarlay-image {
    grid-row: 4/-1;
    grid-column: 2;
    justify-self: center;
    overflow: hidden;
    border-radius: var(--overlay-radius);
    z-index: 1;

    img {
      width: 100%;
      aspect-ratio: 1;
    }
  }
}
