@use './_reset.scss';
@use './_variables.scss';

:host-context(.dark) {
  color-scheme: only dark;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

.transition-fade-enter-active,
.transition-fade-leave-active {
  transition: all 0.7s var(--ease-spring-1);
}

.transition-fade-enter-from,
.transition-fade-leave-to {
  opacity: 0;
  transform: translateY(5px);
}

.transition-event-move,
.transition-event-enter-active,
.transition-event-leave-active {
  transition: all 0.25s ease;
}

.transition-event-enter-from,
.transition-event-leave-to {
  opacity: 0;
}

img {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
img.is-loaded {
  opacity: 1;
}

a {
  color: var(--mvw-link-color);
  text-decoration: none;

  &:hover {
    color: var(--mvw-hover-color);
  }
}

.loading-indicator {
  padding: 1em;
  font-weight: 600;
  color: var(--mvw-loading-indicator-text-color);
  text-align: center;
}

.floating-content {
  &.is-tooltip {
    background-color: var(--mvw-tooltip-bg-color);
    color: var(--mvw-tooltip-color);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: var(--mvw-tooltip-font-size);
    white-space: nowrap;
    pointer-events: none;

    .is-arrow {
      background-color: var(--mvw-tooltip-bg-color);
    }
  }

  &.is-content {
    border-radius: 4px;
    box-shadow: 2px 14px 23px 0px rgba(0, 0, 0, 0.25);

    .is-arrow {
      background-color: var(--mvw-color-primary-50);
    }
  }

  .is-arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);

    [data-placement^='top'] & {
      bottom: -4px;
    }

    [data-placement^='bottom'] & {
      top: -4px;
    }

    [data-placement^='left'] & {
      right: -4px;
    }

    [data-placement^='right'] & {
      left: -4px;
    }
  }
}

.error-notice {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap: 15px;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: var(--mvw-color-error-notice-bg-color);
  color: var(--mvw-color-error-notice-color);
  border: 1px solid var(--mvw-color-error-notice-border-color);

  button {
    text-decoration: underline;
  }
}

.timezone-selector {
  padding: 3px 0;
  color: var(--mvw-timezone-selector-color);
  font-size: var(--mvw-timezone-selector-font-size);
  font-weight: 500;
  background-color: light-dark(red, blue);

  .is-active {
    font-weight: 700;
  }
}

.is-badge {
  display: inline-block;
  padding: 0.125em 0.25em;
  color: var(--mvw-badge-color);
  font-size: var(--mvw-badge-font-size);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--mvw-badge-bg-color);
  border-radius: 3px;

  & + .is-badge {
    margin-inline-start: 3px;
  }

  &.is-invert {
    color: var(--mvw-badge-bg-color);
    background-color: var(--mvw-badge-color);
  }

  &.is-green {
    color: var(--mvw-color-primary-0);
    background-color: var(--mvw-color-live-game-color);
  }

  &.is-red {
    color: var(--mvw-color-primary-0);
    background-color: var(--mvw-danger-color-a400);
  }

  &.is-yellow {
    color: var(--mvw-color-primary-0);
    background-color: var(--mvw-neutral-color);
  }

  &.is-dark {
    color: var(--mvw-color-primary-0);
    background-color: var(--mvw-color-primary-700);
  }

  &.is-large {
    font-size: var(--mvw-badge-large-font-size);
    padding: 0.15em 0.35em;
  }

  &.is-extra-large {
    font-size: var(--mvw-badge-extra-large-font-size);
    padding: 0.2695em 0.5165em;
  }
}
