@layer normalize, theme, components.variables, components, utils;

/* Base */
@import 'base/color.primary.css';
@import 'base/color.secondary.css';
@import 'base/borders.css';
@import 'base/font.css';
@import 'base/sizes.css';
@import 'base/shadow.css';
@import 'base/ease.css';

/* Normalize */
@import 'core/normalize.css';

/* Theme */
@import 'theme.css';

/* Utils */
@import 'core/utils.css';
