.game-countdown {
  display: grid;
  grid-template-rows: var(--mvw-countdown-title-height) 1fr var(--mvw-countdown-gamedata-height);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

  .game-countdown-title {
    text-align: center;
    font-size: var(--mvw-typography-font-size-300);
    font-weight: 700;
    line-height: var(--mvw-countdown-title-height);
    color: var(--mvw-color-primary-200);
    background-color: var(--mvw-countdown-title-bg);
  }

  .game-countdown-container {
    display: grid;
    grid-template-areas: 'stack';
    place-items: center;
    background-color: var(--mvw-countdown-result-bg);

    > div {
      visibility: hidden;
    }

    > div.is-visible {
      visibility: visible;
    }
  }

  .game-countdown-result {
    grid-area: stack;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 'period period period' 'home-score separator away-score' 'period-results period-results period-results';
    gap: 0 0.5rem;
    align-items: center;
    // padding-block: 1rem;

    color: var(--mvw-color-primary-300);
    font-weight: 700;

    .is-separator {
      grid-area: separator;
      font-size: 3.125rem;
      line-height: 1;
      font-size: clamp(2rem, 10vw, 5rem);
    }

    :is(.is-home-score, .is-away-score) {
      display: flex;
    }

    .is-home-score {
      grid-area: home-score;
    }

    .is-away-score {
      grid-area: away-score;
    }

    .is-period-results {
      grid-area: period-results;
      font-size: var(--mvw-typography-font-size-300);
      text-align: center;
    }

    .is-period {
      grid-area: period;
      font-size: var(--mvw-typography-font-size-50);
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    .is-live {
      color: var(--mvw-color-live-game-color);
    }
  }

  .game-countdown-counter {
    grid-area: stack;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;

    font-size: var(--mvw-typography-font-size-50);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--mvw-color-primary-300);

    .is-number {
      color: var(--mvw-color-live-game-color);
    }
  }

  .game-countdown-gamedata {
    display: grid;
    grid-template-columns: 40px 1fr auto 1fr 40px;
    grid-template-areas: 'home-team-logo game-date game-date game-date away-team-logo' 'home-team-logo home-team separator away-team away-team-logo';
    gap: 0 0.5rem;
    align-content: center;
    align-items: center;
    padding-inline: 1rem;
    background-color: var(--mvw-countdown-gamedata-bg);
    font-size: var(--mvw-typography-font-size-500);
    font-weight: 700;
    line-height: var(--mvw-typography-font-lineheight-400);
    color: var(--mvw-color-primary-50);

    .is-game-date {
      grid-area: game-date;
      text-align: center;
      color: var(--mvw-color-primary-200);
      font-size: var(--mvw-typography-font-size-100);
    }

    .is-home-team-logo {
      grid-area: home-team-logo;
    }
    .is-away-team-logo {
      grid-area: away-team-logo;
    }

    :is(.is-home-team, .is-away-team) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .is-home-team {
      grid-area: home-team;
      text-align: end;
    }
    .is-away-team {
      grid-area: away-team;
    }

    .is-separator {
      grid-area: separator;
      text-align: center;
    }

    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
    }
  }

  .is-number {
    display: grid;
    grid-template-areas: 'stack';
    justify-items: center;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, transparent 0, black 16%, black 84%, transparent 100%);
    animation: 400ms fade-in ease-out;

    > span {
      grid-area: stack;
      // font-size: 3.125rem;
      font-size: clamp(3.125rem, 10vw, 5rem);
      line-height: 1;
      font-weight: 700;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
