.game-countdown {
  --title-height: 2rem;

  display: grid;
  grid-template-rows: var(--title-height) 1fr 4rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

  .game-countdown-title {
    text-align: center;
    font-size: var(--vbr-widget-typography-font-size-300);
    font-weight: 700;
    line-height: var(--title-height);
    color: var(--vbr-widget-primary-color-200);
    background-color: var(--vbr-widget-primary-color-900);
  }

  .game-countdown-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;

    font-size: var(--vbr-widget-typography-font-size-50);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--vbr-widget-primary-color-300);
    background-color: var(--vbr-widget-primary-color-800);
  }

  .game-countdown-gamedata {
    display: grid;
    grid-template-columns: 40px 1fr 20px 1fr 40px;
    grid-template-areas: 'home-team-logo game-date game-date game-date away-team-logo' 'home-team-logo home-team separator away-team away-team-logo';
    align-content: center;
    padding-inline: 1rem;
    background-color: var(--vbr-widget-primary-color-700);
    font-size: var(--vbr-widget-typography-font-size-500);
    font-weight: 700;
    line-height: var(--vbr-widget-typography-font-lineheight-400);
    color: var(--vbr-widget-primary-color-50);

    .is-game-date {
      grid-area: game-date;
      text-align: center;
      color: var(--vbr-widget-primary-color-200);
      font-size: var(--vbr-widget-typography-font-size-100);
    }

    .is-home-team-logo {
      grid-area: home-team-logo;
    }
    .is-away-team-logo {
      grid-area: away-team-logo;
    }

    :is(.is-home-team, .is-away-team) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .is-home-team {
      grid-area: home-team;
      text-align: end;
    }
    .is-away-team {
      grid-area: away-team;
    }

    .is-separator {
      grid-area: separator;
      text-align: center;
    }

    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
    }
  }

  .is-number {
    display: grid;
    grid-template-areas: 'stack';
    justify-items: center;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, transparent 0, black 20%, black 80%, transparent 100%);

    > span {
      grid-area: stack;
      font-size: 50px;
      line-height: 1;
      font-weight: 700;
      color: var(--vbr-widget-live-game-color);
    }
  }

  .is-slide-transition-enter-active,
  .is-slide-transition-leave-active {
    transition: all 420ms linear;
  }

  .is-slide-transition-enter-from {
    transform: translateY(-100%);
  }

  .is-slide-transition-enter-to {
    transform: translateY(0);
  }

  .is-slide-transition-leave-from {
    transform: translateY(0);
  }

  .is-slide-transition-leave-to {
    transform: translateY(100%);
  }
}
