.is-dropdown-menu {
  padding: 8px 0;
  margin: 0;
  min-width: 160px;
  color: black;
  list-style: none;
  background: var(--mvw-popover-bg-color);
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(black, 0.3);

  .is-dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
    font-family: var(--mvw-font-family);
    line-height: 24px;
    color: var(--mvw-dropdown-item-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
      color: var(--mvw-dropdown-item-hover-color);
      background-color: var(--mvw-dropdown-item-hover-bg-color);
    }

    &.is-selected {
      color: var(--mvw-dropdown-item-selected-color);
      background-color: var(--mvw-dropdown-item-selected-hover-bg-color);

      &:hover {
        background-color: var(--mvw-dropdown-item-selected-hover-bg-color);
      }
    }

    svg {
      margin-right: 8px;
    }
  }
}
