@use './_mixins.scss' as *;

.gamecenter {
  &-game-data {
    margin-bottom: 30px;
    text-align: center;

    .is-teams-and-results {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: flex-end;

      @include mobile {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .is-title-container {
      margin-bottom: 30px;
    }

    .is-title {
      color: var(--mvw-gamecenter-title-color);
      font-size: var(--mvw-gamecenter-title-size);
      font-weight: var(--mvw-gamecenter-title-weight);
      text-transform: uppercase;
    }

    .is-gamedate {
      color: var(--mvw-gamecenter-gamedate-color);
      font-size: var(--mvw-gamecenter-gamedate-size);
      text-transform: uppercase;
    }

    .is-local-gamedate {
      color: var(--mvw-gamecenter-local-gamedate-color);
      font-size: var(--mvw-gamecenter-local-gamedate-size);
      text-transform: uppercase;
    }

    .is-game-result {
      color: var(--mvw-gamecenter-result-color);
      font-weight: var(--mvw-gamecenter-result-weight);
      font-size: var(--mvw-gamecenter-result-size);
      line-height: var(--mvw-gamecenter-result-size);
    }

    .is-team-name {
      display: block;
      padding: 8px 0;
      color: var(--mvw-gamecenter-teamname-color);
      font-weight: var(--mvw-gamecenter-teamname-weight);
      font-size: var(--mvw-gamecenter-teamname-size);
    }

    .is-game-status {
      color: var(--mvw-gamecenter-gamestatus-color);
      font-size: var(--mvw-gamecenter-gamestatus-size);
      text-transform: uppercase;
    }

    .is-period-results {
      color: var(--mvw-gamecenter-periodresults-color);
      font-size: var(--mvw-gamecenter-periodresults-size);
      font-weight: 500;
    }

    .is-team-logo {
      margin: auto;
      display: block;
      width: 128px;
      height: 128px;
    }

    .is-game-status-live {
      color: var(--mvw-color-live-game-color);
    }

    .is-live-vistors {
      padding-block: 8px;
      font-size: var(--mvw-gamecenter-local-gamedate-size);
      color: var(--mvw-gamecenter-local-gamedate-color);
    }

    .is-external-contents {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        font-size: var(--mvw-gamecenter-local-gamedate-size);

        &:after {
          content: '/';
          margin: 0 5px;
        }

        &:last-of-type:after {
          content: '';
        }
      }

      .is-icon {
        margin-right: 5px;
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }
  }

  &-game-stats {
    margin-bottom: 20px;

    [data-placement] {
      z-index: 1000;
    }

    .is-popover-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 16px;
      background-color: var(--mvw-color-primary-50);
    }
  }

  &-game-stats-container-wrapper {
    --columns: 1fr;

    display: grid;
    grid-template-columns: var(--columns);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    background-color: var(--mvw-gamecenter-stats-bg-color);
    border: 1px solid var(--mvw-gamecenter-stats-border-color);

    @include tablet {
      --columns: repeat(2, 1fr);
    }
    @include desktop {
      --columns: repeat(3, 1fr);
    }
  }

  &-game-stats-container {
    text-align: center;

    dt {
      font-size: var(--mvw-gamecenter-stats-title-size);
      color: var(--mvw-gamecenter-stats-title-color);
      text-transform: uppercase;

      button {
        width: var(--mvw-gamecenter-stats-title-size);
      }
    }

    dd {
      font-size: var(--mvw-gamecenter-stats-size);
      color: var(--mvw-gamecenter-stats-color);
    }
  }

  &-game-events {
    container-name: rows;
    container-type: inline-size;
    margin-bottom: 20px;
    border: 1px solid var(--mvw-gamecenter-stats-border-color);

    .is-period-header {
      padding: 10px 20px;
      font-size: var(--mvw-gamecenter-period-header-size);
      font-weight: var(--mvw-gamecenter-period-header-weight);
      text-align: center;
      text-transform: uppercase;
      color: var(--mvw-gamecenter-period-header-color);
      background-color: var(--mvw-gamecenter-period-header-bg-color);
    }

    .is-no-action {
      padding: 10px;
      text-align: center;
    }
  }

  &-game-event {
    --cols: 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
    display: grid;
    grid-template-columns: var(--cols);
    align-items: center;

    @container rows (max-width: 500px) {
      --cols: 1fr 1fr 1fr 1fr 1fr 1fr;

      > *:last-of-type {
        grid-column: 2/7;
      }
    }

    &:nth-child(odd) {
      background-color: var(--mvw-table-stripped-bg-color);
    }

    > * {
      padding: 10px;
    }

    .is-team-logo-cell {
      span {
        display: inline-block;
      }

      img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }

    .is-icon-cell {
      svg {
        width: 25px;
        height: 25px;
      }
    }

    .is-penalty-icon {
      color: var(--mvw-color-primary-300);
    }

    .is-goal-so-icon {
      color: var(--mvw-color-primary-500);
    }

    .is-goal-icon {
      color: var(--mvw-danger-color-a400);
    }

    .is-timer-icon {
      color: var(--mvw-color-secondary-500);
    }

    .is-goalie-in-icon {
      color: var(--mvw-color-secondary-500);
    }

    .is-goalie-out-icon {
      color: var(--mvw-danger-color-a400);
    }

    .is-time-cell {
      font-weight: 700;
    }

    .is-penalty-cell {
      font-size: var(--mvw-gamecenter-events-penalty-size);
      text-align: center;
    }

    .is-score {
      font-size: var(--mvw-gamecenter-events-score-size);
      font-weight: 700;
      text-align: center;
      color: var(--mvw-danger-color-a400);
    }

    .is-score-so {
      font-size: var(--mvw-gamecenter-events-score-size);
      font-weight: 700;
      text-align: center;
      color: var(--mvw-color-primary-500);
    }

    .is-score-so-goal {
      color: var(--mvw-color-live-game-color);
    }

    .is-goalie-direction {
      font-size: var(--mvw-gamecenter-events-goalie-direction-size);
      text-align: center;
      color: var(--mvw-color-primary-400);
    }

    .is-evented-person {
      font-size: var(--mvw-gamecenter-events-evented-person-size);
      font-weight: var(--mvw-gamecenter-events-evented-person-weight);
    }

    .is-assists-list {
      font-size: var(--mvw-gamecenter-events-assitst-list-size);
      color: var(--mvw-color-primary-400);

      span::after {
        content: ' / ';
      }

      span:last-child::after {
        content: '';
      }
    }

    .is-poi-data {
      font-size: var(--mvw-gamecenter-events-poi-list-size);
      color: var(--mvw-color-primary-400);

      ul {
        display: inline-flex;

        li {
          &::after {
            content: ',';
            margin-right: 2px;
          }
        }

        li:last-child::after {
          content: '';
        }
      }
    }

    .is-player-number {
      font-weight: 400;
      font-style: italic;
      color: var(--mvw-color-primary-500);
    }

    .is-light-cell {
      color: var(--mvw-color-primary-400);
    }
  }

  &-data-table {
    border: 1px solid var(--mvw-gamecenter-team-container-border-color);
    min-width: 0;

    h2 {
      padding: 8px;
      font-size: var(--mvw-gamecenter-team-container-title-size);
      font-weight: 500;
      color: var(--mvw-gamecenter-team-container-title-color);
      background-color: var(--mvw-gamecenter-team-container-title-bg-color);
    }
  }

  &-data-columns {
    --columns: 1fr;

    display: grid;
    grid-template-columns: var(--columns);
    gap: 20px;
    margin-bottom: 20px;

    @include mobile {
      --columns: repeat(2, 1fr);
    }
  }

  &-data-column {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
  }
}
