@define-mixin ResetTable {
  border-collapse: collapse;
  border-spacing: 0;

  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

@define-mixin mobile {
  @media all and (min-width: 576px) {
    @mixin-content;
  }
}

@define-mixin tablet {
  @media all and (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin desktop {
  @media all and (min-width: 992px) {
    @mixin-content;
  }
}

@define-mixin small-desktop {
  @media all and (min-width: 1200px) {
    @mixin-content;
  }
}

/* --vbr-widget-typography-font-size-50
--vbr-widget-typography-font-lineheight-50 */
@define-mixin calcLineHeight $variant {
  --vbr-widget-typography-font-lineheight-$(variant): calc(var(--vbr-widget-typography-font-size-$(variant)) * 1.628);
}
