.paginator {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;

  button,
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    text-decoration: none;
    cursor: pointer;
    color: var(--mvw-paginator-color);
    border: 1px solid var(--mvw-paginator-border-color);
    background-color: var(--mvw-paginator-bg-color);
    margin-left: -1px;

    .icon {
      width: 16px;
      height: 16px;
      margin: 0 -4px;
    }

    &:hover:not(&.is-disabled, &.is-active) {
      color: var(--mvw-paginator-hover-color);
      background-color: var(--mvw-paginator-hover-bg-color);
    }

    &:disabled,
    &.is-disabled {
      color: var(--mvw-paginator-disabled-color);
      background-color: var(--mvw-paginator-bg-color);
      pointer-events: none;
      cursor: default;
    }

    &.is-active {
      color: var(--mvw-paginator-active-color);
      background-color: var(--mvw-paginator-active-bg-color);
      border-color: var(--mvw-paginator-active-bg-color);
      cursor: default;
    }
  }
}
