@use './_mixins.scss' as *;

.playoffs {
  .table-grid {
    display: grid;
    grid-template-columns:
      70px 160px 60px minmax(160px, 1fr) minmax(40px, 60px) 30px minmax(160px, 1fr)
      minmax(180px, 1.2fr);
    color: var(--mvw-table-color);

    &:nth-child(odd) > div {
      background-color: var(--mvw-table-stripped-bg-color);
    }

    &:hover > div {
      background-color: var(--mvw-table-hover-bg-color);
    }

    &.is-optional {
      opacity: 0.5;
    }

    > div {
      padding: 8px;
    }

    .is-truncate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .text-end {
      text-align: right;
    }

    .text-center {
      text-align: center;
    }

    .font-bold {
      font-weight: 900;
    }

    .text-dimmed {
      color: var(--mvw-table-cell-light-color);
    }

    .text-highlighted {
      color: var(--mvw-table-cell-dark-color);
    }

    .is-text-accent {
      color: var(--mvw-secondary-color-500);
    }

    .is-team-name-long {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .is-team-name-short {
      display: none;
    }

    @container table-wrapper (max-width: 768px) {
      .is-team-name-long {
        display: none;
      }
      .is-team-name-short {
        display: block;
      }
    }
  }

  .section-title {
    padding: 10px;
    text-align: center;
    font-size: var(--mvw-playoffs-header-size);
    font-weight: 700;
    color: var(--mvw-playoffs-header-color);
    background-color: var(--mvw-playoffs-header-bg);
  }
  .section-details {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--mvw-playoffs-details-bg);

    @include mobile {
      grid-template-columns: 1fr fit-content(100px) fit-content(100px) fit-content(100px) 1fr;
    }

    .is-team-name-long {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .is-team-name-short {
      display: none;
    }

    @container section-details (max-width: 768px) {
      .is-team-name-long {
        display: none;
      }
      .is-team-name-short {
        display: block;
      }
    }

    .is-logo-image {
      width: 70px;
      height: 70px;
    }

    .is-result {
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
      color: var(--mvw-primary-color-800);
    }

    .is-team-name {
      font-size: var(--mvw-typography-font-size-700);
      font-weight: 700;
      color: var(--mvw-primary-color-800);
    }
    .is-right {
      text-align: right;
    }
  }
}

.playoffs-minimal {
  display: grid;
  gap: 8px;

  .section {
    .section-title {
      font-size: var(--mvw-standings-selector-section-title-size);
      color: var(--mvw-standings-selector-section-title-color);
      font-weight: 700;
      background: var(--mvw-standings-selector-section-title-bg);
      text-align: center;
      padding: var(--mvw-standings-selector-section-title-padding);
    }

    ul {
      display: grid;
      grid-template-columns:
        minmax(0, 1fr) var(--mvw-standings-selector-section-logo-size) auto var(
          --mvw-standings-selector-section-logo-size
        )
        minmax(0, 1fr);
      gap: 12px;
      align-items: center;
    }

    li {
      padding-block: 8px;

      &:first-of-type {
        text-align: end;
      }
    }

    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
    }

    .is-team {
      font-weight: 700;
      color: var(--mvw-standings-selector-section-team-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .is-team-name-short {
        display: none;
      }

      @container table-wrapper (max-width: 360px) {
        .is-team-name-long {
          display: none;
        }
        .is-team-name-short {
          display: block;
        }
      }
    }
  }
}
