.progress {
  display: flex;
  height: var(--mvw-progress-height);
  overflow: hidden;
  font-size: var(--mvw-typography-font-size-50);
  background-color: var(--mvw-progress-bg-color);
  border-radius: var(--mvw-progress-border-radius);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  color: var(--mvw-primary-color-0);
  text-align: center;
  white-space: nowrap;
  background-color: var(--mvw-progress-bar-color);
}

.progress-bar-stripped {
  --color: var(--mvw-progress-bar-stripe-color);
  --angle: var(--mvw-progress-bar-stripe-angle);

  background-image: linear-gradient(
    var(--angle),
    var(--color) 25%,
    transparent 25%,
    transparent 50%,
    var(--color) 50%,
    var(--color) 75%,
    transparent 75%,
    transparent
  );

  background-size: var(--mvw-progress-height) var(--mvw-progress-height);
}

.progress-bar-animated {
  animation: 1s linear infinite progress-bar-stripes;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: var(--mvw-progress-height);
  }
}

.statistics-double-bar {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-areas: 'value-start title title value-end' 'bar-start bar-start bar-end bar-end';
  align-items: center;

  @media (width > 500px) {
    grid-template-areas: 'title title title title' 'value-start bar-start bar-end value-end';
  }

  .is-value {
    font-weight: 700;
    color: var(--mvw-primary-color-900);
  }

  .is-value-start {
    grid-area: value-start;
    padding-inline-end: 0.5rem;
    justify-self: end;
  }

  .is-value-end {
    grid-area: value-end;
    padding-inline-start: 0.5rem;
  }

  .is-bar {
    background-color: var(--mvw-primary-color-50);
    height: 8px;
    margin-block: 5px;
  }

  .is-bar-start {
    grid-area: bar-start;

    display: flex;
    justify-content: flex-end;
  }

  .is-bar-start--progress {
    background-color: var(--mvw-gamecenter-home-team-identifier-color);
    outline: 1px solid var(--mvw-gamecenter-home-team-identifier-border-color);
    outline-offset: -1px;
    height: 100%;
    transition: width 0.3s ease-out;
  }

  .is-bar-end {
    grid-area: bar-end;
  }

  .is-bar-end--progress {
    background-color: var(--mvw-gamecenter-away-team-identifier-color);
    outline: 1px solid var(--mvw-gamecenter-away-team-identifier-border-color);
    outline-offset: -1px;
    height: 100%;
  }

  .is-title {
    grid-area: title;

    justify-self: center;
    font-size: var(--mvw-typography-font-size-400);
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--mvw-primary-color-500);
  }
}
