.recruitment-info-card {
  --logo-width: 30px;

  border-radius: var(--mvw-base-input-border-radius);
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 280ms;
  margin-block-end: 1em;

  summary {
    display: grid;
    grid-template-columns: var(--logo-width) 1fr auto;
    grid-template-rows: var(--logo-width);
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 1em;

    img {
      display: block;
      width: var(--logo-width);
      height: auto;
    }
  }

  summary::after {
    content: '';
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z'/%3E%3C/svg%3E");
    background-size: cover;
    margin-inline-start: auto;
    transition: 1s var(--ease-spring-1);
  }

  &[open] > summary::after {
    transform: rotate(180deg);
  }

  &[open] {
    background-color: var(--mvw-color-primary-50);
  }

  ul {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px 16px;
    padding: 0 1em 1em 1em;
  }

  li {
    display: contents;
    color: var(--mvw-color-primary-400);

    > div {
      color: var(--mvw-color-primary-900);
    }

    span {
      justify-self: end;
    }
  }
}

.recruitment-info-filter {
  margin-block-end: 1rem;

  input {
    max-width: 38%;
  }
}

.no-result {
  font-weight: 700;
  padding-block: 1em;
  text-align: center;
  color: var(--mvw-color-primary-300);
}

.recruitment-paginator-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  align-items: center;

  color: var(--mvw-color-primary-500);
}
