.standings-selector {
  &-title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: var(--mvw-standings-selector-title-padding);
    text-transform: var(--mvw-standings-selector-title-transform);
    font-size: var(--mvw-standings-selector-title-size);
    color: var(--mvw-standings-selector-title-color);
    background: var(--mvw-standings-selector-title-bg-color);
  }

  .is-title-text {
    svg {
      height: 16px;
      vertical-align: middle;
    }
  }
}
