.standings-selector {
  dl {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 'title selector' 'subtitle subtitle';
  }

  dt {
    grid-area: title;
  }

  dd {
    grid-area: subtitle;
  }

  .is-championship-selector {
    grid-area: selector;
  }
}
