.standings-selector {
  &-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: var(--vbr-widget-standings-selector-title-padding);
    text-transform: var(--vbr-widget-standings-selector-title-transform);
    font-size: var(--vbr-widget-standings-selector-title-size);
    color: var(--vbr-widget-standings-selector-title-color);
    background: var(--vbr-widget-standings-selector-title-bg-color);
  }

  dt {
    font-weight: 700;
  }
}
