@use './_mixins.scss' as *;

.table {
  @include ResetTable;
  color: var(--vbr-widget-table-color);
  background-color: var(--vbr-widget-table-default-bg-color);

  :is(th, td) {
    padding: 8px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;

    &.is-text-left {
      text-align: left;
    }

    &.is-text-right {
      text-align: right;
    }
  }

  th {
    width: var(--vbr-widget-table-default-column-width);
    background: var(--vbr-widget-table-header-bg-color);
    font-size: var(--vbr-widget-table-header-font-size);
    font-weight: 700;
    color: var(--vbr-widget-table-header-color);

    &:focus-visible,
    &:hover {
      background-color: var(--vbr-widget-table-header-hover-bg-color);
      outline: none;
    }

    &.is-sortable {
      position: relative;
      cursor: pointer;

      .icon-sort {
        opacity: 0.5;
      }
    }

    &.is-active {
      background-color: var(--vbr-widget-table-header-active-bg-color);
      color: var(--vbr-widget-table-header-active-color);

      .icon-sort {
        opacity: 1;
      }
    }

    &.is-asc {
      position: relative;
    }

    &.is-desc {
      position: relative;
    }

    &.is-w-auto {
      width: auto;
    }

    .is-icon-sort {
      width: 11px;
      height: 11px;
      margin-left: 5px;
    }
  }

  td {
    &.is-active {
      font-weight: 700;
      color: var(--vbr-widget-table-active-color);
      background: var(--vbr-widget-table-active-bg-color);
    }

    &.is-zero {
      color: var(--vbr-widget-text-color-faded);
    }

    &.is-possible-empty:empty:before {
      content: '0';
      color: var(--vbr-widget-text-color-faded);
    }

    .text-dimmed,
    &.text-dimmed {
      color: var(--vbr-widget-table-cell-light-color);
    }

    .text-highlighted,
    &.text-highlighted {
      color: var(--vbr-widget-table-cell-dark-color);
    }

    .is-logo-image {
      display: inline-block;
      vertical-align: middle;
      width: var(--vbr-widget-table-cell-logo-size);
      height: var(--vbr-widget-table-cell-logo-size);
    }

    .is-portrait-image {
      display: inline-block;
      vertical-align: middle;
      width: var(--vbr-widget-table-cell-portrait-size);
      height: var(--vbr-widget-table-cell-portrait-size);
      object-fit: cover;
      object-position: top;
      overflow: hidden;
      border-radius: 100%;
      border: 1px solid var(--vbr-widget-primary-color-100);

      img {
        width: var(--vbr-widget-table-cell-portrait-size);
        height: auto;
      }
    }

    &.is-text-bold {
      font-weight: 700;
    }

    &.is-text-italic {
      font-style: italic;
    }

    &.is-text-xl {
      font-size: var(--vbr-widget-typography-font-size-700);
    }

    .is-text-accent {
      color: var(--vbr-widget-secondary-color-500);
    }

    &.is-w-auto {
      width: auto;
    }

    &.is-horizontal-content {
      display: inline-flex;
      align-items: center;
    }

    &.is-text-positive,
    .is-text-positive {
      color: var(--vbr-widget-live-game-color);
    }

    &.is-text-negative,
    .is-text-negative {
      color: var(--vbr-widget-danger-color-a400);
    }

    &.is-has-image {
      padding: 0 2px;
    }

    .is-duplicated {
      color: var(--vbr-widget-table-neutral-color);
    }

    svg {
      width: 16px;
      height: 16px;
    }

    button {
      padding: 3px 3px;
      line-height: 0;
      border: none;
      outline: none;
      background-color: transparent;

      &:hover {
        background-color: var(--vbr-widget-popover-trigger-hover-bg-color);
      }

      &:active,
      &:focus {
        background-color: var(--vbr-widget-popover-trigger-focus-bg-color);
      }
    }

    a {
      text-decoration: none;
    }

    .label {
      padding: 3px 6px;
      font-size: var(--vbr-widget-typography-font-size-100);
      font-weight: 700;
      color: var(--vbr-widget-table-label-color);
      background-color: var(--vbr-widget-table-label-bg-color);
      border-radius: 2px;

      &:not(:last-of-type) {
        margin-right: 3px;
      }
    }

    a {
      color: var(--vbr-widget-link-color);
    }
    a:hover {
      color: var(--vbr-widget-hover-color);
    }

    .is-team-name-long {
      display: block;
    }
    .is-team-name-short {
      display: none;
    }

    @container table-wrapper (max-width: 768px) {
      .is-team-name-long {
        display: none;
      }
      .is-team-name-short {
        display: block;
      }
    }
  }

  tr {
    &.is-highlighted {
      color: var(--vbr-widget-danger-color-a400);
    }
    &.is-optional {
      opacity: 0.5;
    }
  }

  tr:nth-child(even) {
    background: var(--vbr-widget-table-stripped-bg-color);

    td.is-active {
      background-color: var(--vbr-widget-table-active-even-bg-color);
    }
  }

  tbody {
    tr:focus-within,
    tr:hover {
      color: var(--vbr-widget-table-hover-color);
      background-color: var(--vbr-widget-table-hover-bg-color);

      td.is-active {
        color: var(--vbr-widget-table-active-hover-color);
        background-color: var(--vbr-widget-table-active-hover-bg-color);
      }
    }
  }
}
