@import './mixins.css';

.wrapped-grid {
  --min-width: 300px;
  --max-width: 1fr;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), var(--max-width)));
  gap: 30px;
  padding-block: 20px;
  text-align: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .is-team-logo {
    display: block;
    width: 100%;
    aspect-ratio: 1;
  }
}

.team-image-wrapper {
  position: relative;
  margin-bottom: 100px;

  .is-team-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 320px;
    width: 100%;
    background-color: royalblue;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  .is-team-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80px;
    height: 80px;
    transform: translate(-50%, 50%);

    @mixin mobile {
      width: 160px;
      height: 160px;
    }
  }
}
