@layer theme {
  [data-theme='light'],
  :host-context(.light) {
    color-scheme: only light;
  }

  [data-theme='dark'],
  :host-context(.dark) {
    color-scheme: only dark;
  }

  :host {
    font-family: inherit;

    /* Special Colors */
    --mvw-live: #8bc34a;
    --mvw-error: #fb2c36;
    --mvw-warning: #ffc107;
    --mvw-info: #2870ed;
    --mvw-team: #ff6129;

    /* Link */
    --mvw-link-color: light-dark(var(--mvw-secondary-color-700), var(--mvw-secondary-color-400));
    --mvw-link-hover-color: light-dark(var(--mvw-secondary-color-900), var(--mvw-secondary-color-200));

    /* Text */
    --mvw-text-pale: light-dark(var(--mvw-primary-color-100), var(--mvw-primary-color-700));
    --mvw-text-faded: light-dark(var(--mvw-primary-color-200), var(--mvw-primary-color-600));
    --mvw-text-dimmed: light-dark(var(--mvw-primary-color-400), var(--mvw-primary-color-500));
    --mvw-text-muted: light-dark(var(--mvw-primary-color-500), var(--mvw-primary-color-400));
    --mvw-text-toned: light-dark(var(--mvw-primary-color-600), var(--mvw-primary-color-300));
    --mvw-text-default: light-dark(var(--mvw-primary-color-700), var(--mvw-primary-color-200));
    --mvw-text-highlighted: light-dark(var(--mvw-primary-color-900), var(--mvw-primary-color-50));
    --mvw-text-inverted: light-dark(var(--mvw-color-white), var(--mvw-primary-color-950));

    /* Background */
    --mvw-bg-default: light-dark(var(--mvw-color-white), var(--mvw-primary-color-950));
    --mvw-bg-muted: light-dark(var(--mvw-primary-color-50), var(--mvw-primary-color-900));
    --mvw-bg-elevated: light-dark(var(--mvw-primary-color-100), var(--mvw-primary-color-800));
    --mvw-bg-accented: light-dark(var(--mvw-primary-color-200), var(--mvw-primary-color-700));
    --mvw-bg-highlighted: var(--mvw-secondary-color-500);
    --mvw-bg-inverted: light-dark(var(--mvw-primary-color-900), var(--mvw-primary-color-50));

    /* Border */
    --mvw-border-faded: light-dark(var(--mvw-primary-color-100), var(--mvw-primary-color-800));
    --mvw-border-muted: light-dark(var(--mvw-primary-color-200), var(--mvw-primary-color-700));
    --mvw-border-highlighted: var(--mvw-secondary-color-500);
  }

  :where(a[href]) {
    color: var(--mvw-link-color);
    text-decoration: none;

    &:hover {
      color: var(--mvw-link-hover-color);
    }

    &:visited {
      color: var(--mvw-link-color);
    }
  }
}
