@layer theme {
  :host-context(.light) {
    color-scheme: only light;
  }

  :host-context(.dark) {
    color-scheme: only dark;
  }

  :host {
    font-family: inherit;

    /* Special Colors */
    --mvw-live: #8bc34a;
    --mvw-error: #fb2c36;

    /* Link */
    --mvw-link-color: light-dark(var(--mvw-secondary-color-700), var(--mvw-secondary-color-400));
    --mvw-link-hover-color: light-dark(var(--mvw-secondary-color-900), var(--mvw-secondary-color-200));

    /* Text */
    --mvw-text-faded: light-dark(var(--mvw-primary-color-200), var(--mvw-primary-color-600));
    --mvw-text-dimmed: light-dark(var(--mvw-primary-color-400), var(--mvw-primary-color-500));
    --mvw-text-muted: light-dark(var(--mvw-primary-color-500), var(--mvw-primary-color-400));
    --mvw-text-toned: light-dark(var(--mvw-primary-color-600), var(--mvw-primary-color-300));
    --mvw-text-default: light-dark(var(--mvw-primary-color-700), var(--mvw-primary-color-200));
    --mvw-text-highlighted: light-dark(var(--mvw-primary-color-900), var(--mvw-primary-color-50));
    --mvw-text-inverted: light-dark(var(--mvw-primary-color-50), var(--mvw-primary-color-950));

    /* Background */
    --mvw-bg-muted: light-dark(var(--mvw-primary-color-50), var(--mvw-primary-color-900));
    --mvw-bg-highlighted: var(--mvw-secondary-color-500);
    --mvw-bg-inverted: light-dark(var(--mvw-primary-color-700), var(--mvw-primary-color-100));

    /* Border */
    --mvw-border-faded: light-dark(var(--mvw-primary-color-100), var(--mvw-primary-color-800));
    --mvw-border-muted: light-dark(var(--mvw-primary-color-200), var(--mvw-primary-color-700));
    --mvw-border-highlighted: var(--mvw-secondary-color-500);

    /* --Components-- */

    /* Trigger */
    --mvw-popover-trigger-hover-bg-color: light-dark(var(--mvw-secondary-color-200), var(--mvw-primary-color-800));
    /* --mvw-popover-trigger-focus-bg-color: var(--mvw-secondary-color-300); */

    /* Tooltip */
    --mvw-tooltip-font-size: var(--font-size-200);
    --mvw-tooltip-color: light-dark(white, black);
    --mvw-tooltip-bg-color: light-dark(black, white);
    --mvw-floating-content-bg-color: light-dark(white, var(--mvw-primary-color-700));
  }

  :where(a[href]) {
    color: var(--mvw-link-color);
    text-decoration: none;

    &:hover {
      color: var(--mvw-link-hover-color);
    }

    &:visited {
      color: var(--mvw-link-color);
    }
  }
}
