.liga-top-list {
  background-color: var(--vbr-widget-top-list-bg-color);

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }

  &-selector {
    border-block-end: 1px solid var(--vbr-widget-top-list-selector-border-color);
    margin-inline: 16px;
  }
}

.top-list-container {
  padding: 1rem;

  h2 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-block: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--vbr-widget-top-list-title-color);
    border-bottom: 1px solid var(--vbr-widget-top-list-title-separator-color);

    svg {
      display: block;
      width: 14px;
      height: 14px;
    }
  }

  ul {
    display: grid;
    gap: 0.5rem;
  }

  li {
    display: grid;
    grid-template-columns: 30px 1fr auto;
    grid-template-areas: 'logo player value' 'logo team value';
    align-items: center;
    gap: 0.25rem 0.5rem;
    padding-block: 0.5rem;
    font-size: 13px;
    line-height: 1;
    border-bottom: 1px solid var(--vbr-widget-top-list-player-separator-color);

    &.is-large {
      font-size: 14px;
      font-weight: 700;

      .is-images .is-player {
        width: 30px;
      }
    }

    :is(.is-player, .is-team) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a.is-player {
      grid-area: player;
    }
    a.is-team {
      grid-area: team;
      font-size: 10px;
    }

    span {
      grid-area: value;
      font-weight: 700;
      color: var(--vbr-widget-top-list-value-color);
    }

    .is-images {
      grid-area: logo;
      justify-self: center;

      .is-player {
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid var(--vbr-widget-top-list-image-border-color);
        display: block;
        width: 24px;
        aspect-ratio: 1;
        background-color: var(--vbr-widget-top-list-image-bg-color);
      }
    }
  }
}
