.text-end {
  text-align: right;
}
.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.is-text-xs {
  font-size: var(--mvw-typography-font-size-200);
  line-height: var(--mvw-typography-font-lineheight-200);
}
.is-text-sm {
  font-size: var(--mvw-typography-font-size-400);
  line-height: var(--mvw-typography-font-lineheight-200);
}
.is-text-base {
  font-size: var(--mvw-typography-font-size-500);
  line-height: var(--mvw-typography-font-lineheight-500);
}
.is-text-lg {
  font-size: var(--mvw-typography-font-size-600);
  line-height: var(--mvw-typography-font-lineheight-600);
}
.text-xl {
  font-size: var(--mvw-typography-font-size-700);
  line-height: var(--mvw-typography-font-lineheight-700);
}
.is-text-4xl {
  font-size: var(--mvw-typography-font-size-950);
  line-height: var(--mvw-typography-font-lineheight-950);
}

.is-uppercase {
  text-transform: uppercase;
}

.is-opacity-20 {
  opacity: 0.2;
}
.is-opacity-30 {
  opacity: 0.3;
}
.is-opacity-40 {
  opacity: 0.4;
}
.is-opacity-50 {
  opacity: 0.5;
}

.is-mt-5 {
  margin-top: 1rem;
}

.is-mb-5 {
  margin-bottom: 1rem;
}

.is-whitespace-nowrap {
  white-space: nowrap;
}

.is-heading-1 {
  font-size: var(--mvw-typography-heading-1-size);
  line-height: var(--mvw-typography-font-lineheight-700);
  margin-block-start: var(--mvw-typography-font-size-700);
  margin-block-end: calc(var(--mvw-typography-font-size-700) / 2);
  font-weight: var(--mvw-typography-heading-weight);
}

.is-heading-2 {
  font-size: var(--mvw-typography-heading-2-size);
  line-height: var(--mvw-typography-font-lineheight-600);
  font-weight: var(--mvw-typography-heading-weight);
  margin-block-start: var(--mvw-typography-font-size-600);
  margin-block-end: calc(var(--mvw-typography-font-size-600) / 2);
}

.is-heading-3 {
  font-size: var(--mvw-typography-heading-3-size);
  line-height: var(--mvw-typography-font-lineheight-500);
  font-weight: var(--mvw-typography-heading-weight);
  margin-block-start: var(--mvw-typography-font-size-500);
  margin-block-end: calc(var(--mvw-typography-font-size-500) / 2);
}

.is-rounded {
  overflow: hidden;
  border-radius: 100%;

  & + .is-rounded {
    margin-left: 3px;
  }

  img {
    display: block;
  }
}

.is-w-5 {
  width: 16px;
}

.is-w-7 {
  width: 24px;
}
.is-w-10 {
  width: 32px;
}
