.is-text-right {
  text-align: right;
}
.is-text-center {
  text-align: center;
}

.is-text-bold {
  font-weight: 700;
}

.is-text-italic {
  font-style: italic;
}

.is-text-xs {
  font-size: var(--vbr-widget-typography-text-xs-size);
  line-height: var(--vbr-widget-typography-text-xs-lineheight);
}
.is-text-sm {
  font-size: var(--vbr-widget-typography-text-sm-size);
  line-height: var(--vbr-widget-typography-text-xs-lineheight);
}
.is-text-base {
  font-size: var(--vbr-widget-typography-text-base-size);
  line-height: var(--vbr-widget-typography-text-base-lineheight);
}
.is-text-lg {
  font-size: var(--vbr-widget-typography-text-lg-size);
  line-height: var(--vbr-widget-typography-text-lg-lineheight);
}
.is-text-xl {
  font-size: var(--vbr-widget-typography-text-xl-size);
  line-height: var(--vbr-widget-typography-text-xl-lineheight);
}
.is-text-4xl {
  font-size: var(--vbr-widget-typography-text-4xl-size);
  line-height: var(--vbr-widget-typography-text-4xl-lineheight);
}

.is-uppercase {
  text-transform: uppercase;
}

.is-opacity-20 {
  opacity: 0.2;
}
.is-opacity-30 {
  opacity: 0.3;
}
.is-opacity-40 {
  opacity: 0.4;
}
.is-opacity-50 {
  opacity: 0.5;
}

.is-mt-5 {
  margin-top: 1rem;
}

.is-mb-5 {
  margin-bottom: 1rem;
}

.is-whitespace-nowrap {
  white-space: nowrap;
}

.is-heading-1 {
  font-size: var(--vbr-widget-typography-heading-1-size);
  line-height: var(--vbr-widget-typography-text-xl-lineheight);
  margin-block-start: var(--vbr-widget-typography-text-xl-size);
  margin-block-end: calc(var(--vbr-widget-typography-text-xl-size) / 2);
  font-weight: var(--vbr-widget-typography-heading-weight);
}

.is-heading-2 {
  font-size: var(--vbr-widget-typography-heading-2size);
  line-height: var(--vbr-widget-typography-text-lg-lineheight);
  font-weight: var(--vbr-widget-typography-heading-weight);
  margin-block-start: var(--vbr-widget-typography-text-lg-size);
  margin-block-end: calc(var(--vbr-widget-typography-text-lg-size) / 2);
}

.is-heading-3 {
  font-size: var(--vbr-widget-typography-heading-3-size);
  line-height: var(--vbr-widget-typography-text-base-lineheight);
  font-weight: var(--vbr-widget-typography-heading-weight);
  margin-block-start: var(--vbr-widget-typography-text-base-size);
  margin-block-end: calc(var(--vbr-widget-typography-text-base-size) / 2);
}

.is-rounded {
  overflow: hidden;
  border-radius: 100%;

  & + .is-rounded {
    margin-left: 3px;
  }

  img {
    display: block;
  }
}

.is-w-5 {
  width: 16px;
}

.is-w-7 {
  width: 24px;
}
.is-w-10 {
  width: 32px;
}
